In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('./data/Churn_Modelling.csv')

In [37]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [38]:
df.shape

(10000, 14)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [40]:
df.duplicated().sum()

0

In [41]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [42]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [43]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [44]:
drop_cols = ['RowNumber','CustomerId','Surname']

df.drop(columns=drop_cols, inplace=True)

In [45]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [46]:
df = pd.get_dummies(df,columns=['Geography','Gender'], drop_first=True)

In [47]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [48]:
X = df.drop(columns=['Exited'])
y = df['Exited']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=1)

In [49]:
X.shape

(10000, 11)

In [50]:
X_train.shape

(8000, 11)

In [51]:
from sklearn.preprocessing import StandardScaler

scalar = StandardScaler()

X_train_scaled = scalar.fit_transform(X_train)
X_test_scaled = scalar.transform(X_test)

In [52]:
X_train_scaled

array([[-0.23082038, -0.94449979, -0.70174202, ...,  1.71490137,
        -0.57273139,  0.91509065],
       [-0.25150912, -0.94449979, -0.35520275, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  1.71490137,
        -0.57273139, -1.09278791],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 0.13123255,  0.01077067,  1.03095433, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  1.71490137,
        -0.57273139,  0.91509065]])

## ANN Model

In [53]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [54]:
model = Sequential()

model.add(Dense(11, activation = 'relu', input_dim = 11))
model.add(Dense(11, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))

In [55]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 11)                132

 dense_6 (Dense)             (None, 11)                132

 dense_7 (Dense)             (None, 1)                 12

=================================================================
Total params: 276
Trainable params: 276
Non-trainable params: 0
_________________________________________________________________

In [56]:
model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])

In [57]:
model.fit(X_train_scaled,y_train, epochs=100, validation_split= 0.2)

Epoch 1/100
200/200 [==============================] - 0s 730us/step - loss: 0.5451 - accuracy: 0.7844 - val_loss: 0.4876 - val_accuracy: 0.7975
Epoch 2/100
200/200 [==============================] - 0s 454us/step - loss: 0.4635 - accuracy: 0.7998 - val_loss: 0.4488 - val_accuracy: 0.8062
Epoch 3/100
200/200 [==============================] - 0s 461us/step - loss: 0.4377 - accuracy: 0.8070 - val_loss: 0.4333 - val_accuracy: 0.8112
Epoch 4/100
200/200 [==============================] - 0s 455us/step - loss: 0.4260 - accuracy: 0.8131 - val_loss: 0.4244 - val_accuracy: 0.8144
Epoch 5/100
200/200 [==============================] - 0s 450us/step - loss: 0.4180 - accuracy: 0.8209 - val_loss: 0.4161 - val_accuracy: 0.8181
Epoch 6/100
200/200 [==============================] - 0s 448us/step - loss: 0.4091 - accuracy: 0.8264 - val_loss: 0.4067 - val_accuracy: 0.8231
Epoch 7/100
200/200 [==============================] - 0s 448us/step - loss: 0.3975 - accuracy: 0.8345 - val_loss: 0.3957 - val_accuracy: 0.8331
Epoch 8/100
200/200 [==============================] - 0s 452us/step - loss: 0.3840 - accuracy: 0.8442 - val_loss: 0.3821 - val_accuracy: 0.8438
Epoch 9/100
200/200 [==============================] - 0s 460us/step - loss: 0.3712 - accuracy: 0.8503 - val_loss: 0.3706 - val_accuracy: 0.8481
Epoch 10/100
200/200 [==============================] - 0s 449us/step - loss: 0.3616 - accuracy: 0.8523 - val_loss: 0.3640 - val_accuracy: 0.8512
Epoch 11/100
200/200 [==============================] - 0s 455us/step - loss: 0.3552 - accuracy: 0.8561 - val_loss: 0.3609 - val_accuracy: 0.8519
Epoch 12/100
200/200 [==============================] - 0s 457us/step - loss: 0.3503 - accuracy: 0.8564 - val_loss: 0.3556 - val_accuracy: 0.8537
Epoch 13/100
200/200 [==============================] - 0s 456us/step - loss: 0.3470 - accuracy: 0.8581 - val_loss: 0.3536 - val_accuracy: 0.8537
Epoch 14/100
200/200 [==============================] - 0s 460us/step - loss: 0.3450 - accuracy: 0.8598 - val_loss: 0.3515 - val_accuracy: 0.8537
Epoch 15/100
200/200 [==============================] - 0s 450us/step - loss: 0.3422 - accuracy: 0.8589 - val_loss: 0.3497 - val_accuracy: 0.8556
Epoch 16/100
200/200 [==============================] - 0s 446us/step - loss: 0.3405 - accuracy: 0.8608 - val_loss: 0.3474 - val_accuracy: 0.8556
Epoch 17/100
200/200 [==============================] - 0s 443us/step - loss: 0.3393 - accuracy: 0.8617 - val_loss: 0.3482 - val_accuracy: 0.8562
Epoch 18/100
200/200 [==============================] - 0s 443us/step - loss: 0.3385 - accuracy: 0.8600 - val_loss: 0.3466 - val_accuracy: 0.8544
Epoch 19/100
200/200 [==============================] - 0s 464us/step - loss: 0.3371 - accuracy: 0.8628 - val_loss: 0.3458 - val_accuracy: 0.8537
Epoch 20/100
200/200 [==============================] - 0s 442us/step - loss: 0.3361 - accuracy: 0.8608 - val_loss: 0.3489 - val_accuracy: 0.8544
Epoch 21/100
200/200 [==============================] - 0s 442us/step - loss: 0.3351 - accuracy: 0.8611 - val_loss: 0.3441 - val_accuracy: 0.8556
Epoch 22/100
200/200 [==============================] - 0s 436us/step - loss: 0.3345 - accuracy: 0.8609 - val_loss: 0.3440 - val_accuracy: 0.8556
Epoch 23/100
200/200 [==============================] - 0s 439us/step - loss: 0.3338 - accuracy: 0.8627 - val_loss: 0.3444 - val_accuracy: 0.8556
Epoch 24/100
200/200 [==============================] - 0s 446us/step - loss: 0.3330 - accuracy: 0.8622 - val_loss: 0.3447 - val_accuracy: 0.8550
Epoch 25/100
200/200 [==============================] - 0s 450us/step - loss: 0.3324 - accuracy: 0.8630 - val_loss: 0.3439 - val_accuracy: 0.8531
Epoch 26/100
200/200 [==============================] - 0s 441us/step - loss: 0.3317 - accuracy: 0.8628 - val_loss: 0.3430 - val_accuracy: 0.8556
Epoch 27/100
200/200 [==============================] - 0s 436us/step - loss: 0.3309 - accuracy: 0.8637 - val_loss: 0.3452 - val_accuracy: 0.8512
Epoch 28/100
200/200 [==============================] - 0s 446us/step - loss: 0.3311 - accuracy: 0.8628 - val_loss: 0.3434 - val_accuracy: 0.8550
Epoch 29/100
200/200 [==============================] - 0s 454us/step - loss: 0.3305 - accuracy: 0.8625 - val_loss: 0.3454 - val_accuracy: 0.8506
Epoch 30/100
200/200 [==============================] - 0s 446us/step - loss: 0.3298 - accuracy: 0.8655 - val_loss: 0.3433 - val_accuracy: 0.8525
Epoch 31/100
200/200 [==============================] - 0s 437us/step - loss: 0.3299 - accuracy: 0.8628 - val_loss: 0.3430 - val_accuracy: 0.8569
Epoch 32/100
200/200 [==============================] - 0s 442us/step - loss: 0.3291 - accuracy: 0.8634 - val_loss: 0.3419 - val_accuracy: 0.8581
Epoch 33/100
200/200 [==============================] - 0s 460us/step - loss: 0.3291 - accuracy: 0.8634 - val_loss: 0.3436 - val_accuracy: 0.8531
Epoch 34/100
200/200 [==============================] - 0s 448us/step - loss: 0.3282 - accuracy: 0.8650 - val_loss: 0.3423 - val_accuracy: 0.8575
Epoch 35/100
200/200 [==============================] - 0s 440us/step - loss: 0.3280 - accuracy: 0.8645 - val_loss: 0.3430 - val_accuracy: 0.8544
Epoch 36/100
200/200 [==============================] - 0s 455us/step - loss: 0.3286 - accuracy: 0.8639 - val_loss: 0.3424 - val_accuracy: 0.8550
Epoch 37/100
200/200 [==============================] - 0s 440us/step - loss: 0.3276 - accuracy: 0.8653 - val_loss: 0.3442 - val_accuracy: 0.8487
Epoch 38/100
200/200 [==============================] - 0s 442us/step - loss: 0.3271 - accuracy: 0.8650 - val_loss: 0.3431 - val_accuracy: 0.8556
Epoch 39/100
200/200 [==============================] - 0s 439us/step - loss: 0.3268 - accuracy: 0.8648 - val_loss: 0.3439 - val_accuracy: 0.8475
Epoch 40/100
200/200 [==============================] - 0s 454us/step - loss: 0.3269 - accuracy: 0.8652 - val_loss: 0.3425 - val_accuracy: 0.8587
Epoch 41/100
200/200 [==============================] - 0s 437us/step - loss: 0.3268 - accuracy: 0.8648 - val_loss: 0.3436 - val_accuracy: 0.8550
Epoch 42/100
200/200 [==============================] - 0s 446us/step - loss: 0.3261 - accuracy: 0.8655 - val_loss: 0.3427 - val_accuracy: 0.8562
Epoch 43/100
200/200 [==============================] - 0s 437us/step - loss: 0.3259 - accuracy: 0.8667 - val_loss: 0.3418 - val_accuracy: 0.8569
Epoch 44/100
200/200 [==============================] - 0s 444us/step - loss: 0.3264 - accuracy: 0.8636 - val_loss: 0.3422 - val_accuracy: 0.8581
Epoch 45/100
200/200 [==============================] - 0s 443us/step - loss: 0.3257 - accuracy: 0.8658 - val_loss: 0.3443 - val_accuracy: 0.8487
Epoch 46/100
200/200 [==============================] - 0s 459us/step - loss: 0.3260 - accuracy: 0.8662 - val_loss: 0.3423 - val_accuracy: 0.8556
Epoch 47/100
200/200 [==============================] - 0s 448us/step - loss: 0.3250 - accuracy: 0.8656 - val_loss: 0.3424 - val_accuracy: 0.8569
Epoch 48/100
200/200 [==============================] - 0s 436us/step - loss: 0.3253 - accuracy: 0.8666 - val_loss: 0.3418 - val_accuracy: 0.8575
Epoch 49/100
200/200 [==============================] - 0s 473us/step - loss: 0.3247 - accuracy: 0.8652 - val_loss: 0.3415 - val_accuracy: 0.8581
Epoch 50/100
200/200 [==============================] - 0s 444us/step - loss: 0.3250 - accuracy: 0.8659 - val_loss: 0.3445 - val_accuracy: 0.8494
Epoch 51/100
200/200 [==============================] - 0s 444us/step - loss: 0.3244 - accuracy: 0.8652 - val_loss: 0.3440 - val_accuracy: 0.8506
Epoch 52/100
200/200 [==============================] - 0s 445us/step - loss: 0.3247 - accuracy: 0.8656 - val_loss: 0.3419 - val_accuracy: 0.8537
Epoch 53/100
200/200 [==============================] - 0s 450us/step - loss: 0.3246 - accuracy: 0.8675 - val_loss: 0.3413 - val_accuracy: 0.8569
Epoch 54/100
200/200 [==============================] - 0s 496us/step - loss: 0.3246 - accuracy: 0.8667 - val_loss: 0.3417 - val_accuracy: 0.8575
Epoch 55/100
200/200 [==============================] - 0s 446us/step - loss: 0.3245 - accuracy: 0.8647 - val_loss: 0.3415 - val_accuracy: 0.8569
Epoch 56/100
200/200 [==============================] - 0s 447us/step - loss: 0.3238 - accuracy: 0.8661 - val_loss: 0.3438 - val_accuracy: 0.8487
Epoch 57/100
200/200 [==============================] - 0s 446us/step - loss: 0.3237 - accuracy: 0.8661 - val_loss: 0.3425 - val_accuracy: 0.8512
Epoch 58/100
200/200 [==============================] - 0s 447us/step - loss: 0.3237 - accuracy: 0.8659 - val_loss: 0.3426 - val_accuracy: 0.8537
Epoch 59/100
200/200 [==============================] - 0s 459us/step - loss: 0.3237 - accuracy: 0.8664 - val_loss: 0.3423 - val_accuracy: 0.8562
Epoch 60/100
200/200 [==============================] - 0s 443us/step - loss: 0.3237 - accuracy: 0.8661 - val_loss: 0.3413 - val_accuracy: 0.8575
Epoch 61/100
200/200 [==============================] - 0s 441us/step - loss: 0.3236 - accuracy: 0.8661 - val_loss: 0.3408 - val_accuracy: 0.8575
Epoch 62/100
200/200 [==============================] - 0s 450us/step - loss: 0.3234 - accuracy: 0.8644 - val_loss: 0.3411 - val_accuracy: 0.8581
Epoch 63/100
200/200 [==============================] - 0s 431us/step - loss: 0.3231 - accuracy: 0.8648 - val_loss: 0.3420 - val_accuracy: 0.8550
Epoch 64/100
200/200 [==============================] - 0s 455us/step - loss: 0.3227 - accuracy: 0.8656 - val_loss: 0.3425 - val_accuracy: 0.8544
Epoch 65/100
200/200 [==============================] - 0s 436us/step - loss: 0.3231 - accuracy: 0.8636 - val_loss: 0.3430 - val_accuracy: 0.8531
Epoch 66/100
200/200 [==============================] - 0s 439us/step - loss: 0.3225 - accuracy: 0.8669 - val_loss: 0.3420 - val_accuracy: 0.8575
Epoch 67/100
200/200 [==============================] - 0s 447us/step - loss: 0.3228 - accuracy: 0.8678 - val_loss: 0.3410 - val_accuracy: 0.8581
Epoch 68/100
200/200 [==============================] - 0s 444us/step - loss: 0.3225 - accuracy: 0.8645 - val_loss: 0.3434 - val_accuracy: 0.8544
Epoch 69/100
200/200 [==============================] - 0s 453us/step - loss: 0.3229 - accuracy: 0.8637 - val_loss: 0.3436 - val_accuracy: 0.8487
Epoch 70/100
200/200 [==============================] - 0s 456us/step - loss: 0.3224 - accuracy: 0.8667 - val_loss: 0.3437 - val_accuracy: 0.8512
Epoch 71/100
200/200 [==============================] - 0s 442us/step - loss: 0.3223 - accuracy: 0.8658 - val_loss: 0.3429 - val_accuracy: 0.8544
Epoch 72/100
200/200 [==============================] - 0s 433us/step - loss: 0.3222 - accuracy: 0.8658 - val_loss: 0.3414 - val_accuracy: 0.8562
Epoch 73/100
200/200 [==============================] - 0s 470us/step - loss: 0.3223 - accuracy: 0.8667 - val_loss: 0.3433 - val_accuracy: 0.8550
Epoch 74/100
200/200 [==============================] - 0s 458us/step - loss: 0.3219 - accuracy: 0.8653 - val_loss: 0.3441 - val_accuracy: 0.8506
Epoch 75/100
200/200 [==============================] - 0s 451us/step - loss: 0.3220 - accuracy: 0.8661 - val_loss: 0.3453 - val_accuracy: 0.8500
Epoch 76/100
200/200 [==============================] - 0s 442us/step - loss: 0.3220 - accuracy: 0.8670 - val_loss: 0.3422 - val_accuracy: 0.8537
Epoch 77/100
200/200 [==============================] - 0s 443us/step - loss: 0.3218 - accuracy: 0.8666 - val_loss: 0.3419 - val_accuracy: 0.8581
Epoch 78/100
200/200 [==============================] - 0s 448us/step - loss: 0.3219 - accuracy: 0.8658 - val_loss: 0.3415 - val_accuracy: 0.8569
Epoch 79/100
200/200 [==============================] - 0s 444us/step - loss: 0.3214 - accuracy: 0.8675 - val_loss: 0.3436 - val_accuracy: 0.8525
Epoch 80/100
200/200 [==============================] - 0s 451us/step - loss: 0.3213 - accuracy: 0.8673 - val_loss: 0.3430 - val_accuracy: 0.8544
Epoch 81/100
200/200 [==============================] - 0s 437us/step - loss: 0.3209 - accuracy: 0.8681 - val_loss: 0.3434 - val_accuracy: 0.8550
Epoch 82/100
200/200 [==============================] - 0s 436us/step - loss: 0.3216 - accuracy: 0.8669 - val_loss: 0.3435 - val_accuracy: 0.8550
Epoch 83/100
200/200 [==============================] - 0s 447us/step - loss: 0.3220 - accuracy: 0.8642 - val_loss: 0.3432 - val_accuracy: 0.8569
Epoch 84/100
200/200 [==============================] - 0s 452us/step - loss: 0.3211 - accuracy: 0.8673 - val_loss: 0.3428 - val_accuracy: 0.8531
Epoch 85/100
200/200 [==============================] - 0s 444us/step - loss: 0.3214 - accuracy: 0.8669 - val_loss: 0.3415 - val_accuracy: 0.8594
Epoch 86/100
200/200 [==============================] - 0s 454us/step - loss: 0.3213 - accuracy: 0.8656 - val_loss: 0.3425 - val_accuracy: 0.8575
Epoch 87/100
200/200 [==============================] - 0s 441us/step - loss: 0.3210 - accuracy: 0.8648 - val_loss: 0.3435 - val_accuracy: 0.8550
Epoch 88/100
200/200 [==============================] - 0s 448us/step - loss: 0.3208 - accuracy: 0.8698 - val_loss: 0.3422 - val_accuracy: 0.8550
Epoch 89/100
200/200 [==============================] - 0s 445us/step - loss: 0.3206 - accuracy: 0.8670 - val_loss: 0.3481 - val_accuracy: 0.8512
Epoch 90/100
200/200 [==============================] - 0s 438us/step - loss: 0.3210 - accuracy: 0.8687 - val_loss: 0.3426 - val_accuracy: 0.8544
Epoch 91/100
200/200 [==============================] - 0s 450us/step - loss: 0.3207 - accuracy: 0.8664 - val_loss: 0.3452 - val_accuracy: 0.8531
Epoch 92/100
200/200 [==============================] - 0s 443us/step - loss: 0.3207 - accuracy: 0.8672 - val_loss: 0.3456 - val_accuracy: 0.8544
Epoch 93/100
200/200 [==============================] - 0s 446us/step - loss: 0.3208 - accuracy: 0.8687 - val_loss: 0.3427 - val_accuracy: 0.8569
Epoch 94/100
200/200 [==============================] - 0s 450us/step - loss: 0.3205 - accuracy: 0.8667 - val_loss: 0.3419 - val_accuracy: 0.8575
Epoch 95/100
200/200 [==============================] - 0s 521us/step - loss: 0.3204 - accuracy: 0.8680 - val_loss: 0.3439 - val_accuracy: 0.8537
Epoch 96/100
200/200 [==============================] - 0s 441us/step - loss: 0.3206 - accuracy: 0.8672 - val_loss: 0.3439 - val_accuracy: 0.8562
Epoch 97/100
200/200 [==============================] - 0s 441us/step - loss: 0.3210 - accuracy: 0.8662 - val_loss: 0.3443 - val_accuracy: 0.8581
Epoch 98/100
200/200 [==============================] - 0s 444us/step - loss: 0.3212 - accuracy: 0.8659 - val_loss: 0.3436 - val_accuracy: 0.8544
Epoch 99/100
200/200 [==============================] - 0s 435us/step - loss: 0.3202 - accuracy: 0.8659 - val_loss: 0.3458 - val_accuracy: 0.8537
Epoch 100/100
200/200 [==============================] - 0s 451us/step - loss: 0.3207 - accuracy: 0.8661 - val_loss: 0.3431 - val_accuracy: 0.8550

In [58]:
model.layers[0].get_weights()

[array([[-8.20884407e-02,  2.99012270e-02, -2.74701327e-01,
          2.17122421e-01, -4.34437357e-02,  7.80792013e-02,
          3.61335188e-01, -1.00468837e-01, -1.57622159e-01,
         -7.19142258e-02,  3.10394317e-02],
        [ 1.12853193e+00, -3.69747639e-01,  9.54959691e-02,
         -3.56852680e-01, -3.01283598e-01, -1.45360827e-01,
         -4.36894208e-01,  9.86766040e-01,  1.75354653e-03,
         -2.48634815e-01,  2.24647477e-01],
        [-1.34485945e-01,  1.34916112e-01, -3.20230573e-01,
         -4.03394967e-01, -1.74612477e-01,  3.01537931e-01,
          1.93534076e-01,  1.52366310e-01,  1.13947436e-01,
          3.82573754e-01,  2.41858765e-01],
        [-3.81968394e-02, -4.61212724e-01,  1.67989776e-01,
          2.38158986e-01, -7.44337291e-02, -1.60823393e+00,
          3.53378206e-02, -1.95102636e-02, -7.54323825e-02,
         -2.64723063e-01, -2.26653874e-01],
        [-6.05503798e-01,  3.41996133e-01,  2.51696527e-01,
          5.93164027e-01,  6.03434741e-01, -2.57263780e-01,
          7.32123032e-02,  1.61317527e+00, -1.11856656e-02,
          7.61220232e-02, -3.41179043e-01],
        [-2.87414402e-01,  1.59116670e-01, -1.38818070e-01,
         -3.21445197e-01, -5.10568738e-01,  5.56914508e-02,
         -1.39850259e-01,  6.55822828e-02,  2.02635288e-01,
          2.98341542e-01, -7.13077281e-03],
        [ 6.60162717e-02, -1.61838159e-01, -8.85307610e-01,
          1.45418137e-01, -4.81578201e-01,  3.82327706e-01,
          3.70923698e-01,  1.77130505e-01,  8.83817673e-01,
         -3.69823396e-01,  1.21622360e+00],
        [ 4.03529294e-02, -5.93684018e-02,  1.16688713e-01,
         -3.37604880e-02, -6.56238347e-02, -5.07255271e-03,
         -2.88068593e-01,  3.05607151e-02,  4.72716093e-01,
         -2.03247562e-01, -1.56274527e-01],
        [ 2.26321891e-01, -5.52251518e-01, -4.30721581e-01,
         -2.95806229e-01,  4.74974483e-01, -7.67711520e-01,
          6.20156825e-01, -1.68784842e-01,  3.04154307e-02,
         -3.33170384e-01,  7.59823024e-02],
        [-8.71676579e-02, -4.49336087e-03, -9.41311494e-02,
         -1.77431941e-01,  1.25215262e-01,  2.14080945e-01,
         -6.80381894e-01,  1.59703389e-01, -6.22249208e-02,
         -1.14430226e-01,  1.21753011e-02],
        [ 3.01409736e-02,  2.04037994e-01, -4.35403079e-01,
          3.66650298e-02,  2.42345137e-04, -1.50452997e-03,
          9.18290671e-03,  7.27636646e-03,  2.46818498e-01,
          6.91386163e-01,  1.08465172e-01]], dtype=float32),
 array([ 0.05122462,  0.795893  ,  0.26296616,  0.22467613,  0.7315425 ,
         0.33864218,  0.2771707 , -0.37798077,  0.13337184,  0.75587773,
         0.22631757], dtype=float32)]

In [59]:
model.layers[1].get_weights()

[array([[ 0.48241606,  0.3405503 ,  0.40344158, -0.54515725, -0.7224585 ,
         -0.5196633 ,  0.44154793,  0.3986924 ,  0.5897079 ,  0.42767856,
          0.23083757],
        [ 0.48304087, -0.07491501, -0.56412584,  0.62820035,  0.44660434,
          0.3538882 , -0.3189438 ,  0.23346806,  0.183144  ,  0.3186408 ,
         -0.05573481],
        [-0.0359063 , -1.0965084 ,  0.3709106 ,  0.14287668, -0.07731936,
          0.47421795, -0.10150805, -0.7159265 ,  0.11704734, -0.469224  ,
         -0.05574107],
        [-0.33461836, -0.06463487, -0.76112646, -0.22746943,  0.14923617,
          0.27176934, -0.71764815,  0.33866116,  0.01021469, -0.27074966,
          0.4796795 ],
        [-0.1592866 , -0.692426  , -0.18309464,  0.46561798,  0.3991338 ,
          0.44222718, -0.24725302, -0.15009041,  0.24205902,  0.26069602,
          0.4389757 ],
        [-0.31991917, -0.0298255 ,  0.28135297, -0.10907927, -0.6464228 ,
          0.17345695,  0.5926581 ,  0.29794356, -0.09975178,  0.14145555,
          0.41792715],
        [ 0.17767276, -0.57053477,  0.28902057,  0.5202532 ,  0.29747343,
          0.30140725,  0.3456577 , -0.15637864,  0.07789509,  0.3409142 ,
         -0.05568029],
        [ 0.86309063,  0.37475482, -1.3681198 , -0.5478098 ,  1.003485  ,
         -0.49472344, -1.1511215 ,  0.16552773,  0.08672409,  0.09679256,
         -1.9393756 ],
        [-0.22866006, -0.20794524,  0.40009534,  0.7285829 , -0.40936396,
          0.26596856,  0.10941038,  0.02363702,  0.23546822,  0.63883984,
         -0.06834704],
        [-0.4377704 , -0.58892924,  0.10517279,  0.38683432, -0.16251451,
          0.3367294 ,  0.1380379 ,  0.02652531, -0.16563222,  0.37172595,
          0.30411318],
        [ 0.33900705,  0.4587437 , -0.51581687,  0.17196245, -0.6852516 ,
          0.03465752,  0.04460787,  0.6220634 ,  0.38863912,  0.45915765,
         -0.28713462]], dtype=float32),
 array([-0.33271262,  0.26850146,  0.21960013,  0.5210396 , -0.2644559 ,
         0.3126344 ,  0.09346159,  0.27694535,  0.27445263,  0.38281775,
        -0.17160086], dtype=float32)]

In [60]:
y_log = model.predict(X_test_scaled)

63/63 [==============================] - 0s 300us/step

In [61]:
y_pred = np.where(y_log > 0.5, 1, 0)

In [62]:
from sklearn.metrics import accuracy_score

In [63]:
accuracy_score(y_test,y_pred)

0.864